<div class="p-3 mb-4">
	<div class="text-end">
		<rock-band-button-cta>
			<a [routerLink]="['edit/new']" class="btn btn-info me-2" aria-label="Add new products" title="Add new products">
				<i class="bi bi-plus-lg me-1"></i>
				<span class="mb-0 fs-7">Add New</span>
			</a>
		</rock-band-button-cta>
	</div>
</div>

<ng-container *ngIf="productItm$ | async">
	<rock-band-products-table
		[tblData]="productItm$ | async"
		(editRowHandler)="editProductHandler($event)"
		(deleteRowHandler)="deleteProductHandler($event)"
	>
		<tr tblHeaderColumns>
			<th scope="col" sortable="id">Id</th>
			<th scope="col">Name</th>
			<th scope="col" style="width: 12em">Description</th>
			<th scope="col" style="width: 8em">Default Image</th>
			<th scope="col">Images</th>
			<th scope="col">Price</th>
			<th scope="col">Discount</th>
			<th></th>
		</tr>
	</rock-band-products-table>
</ng-container>

<ng-container *ngIf="!(productItm$ | async)?.length">
	<rock-band-content-loader></rock-band-content-loader>
</ng-container>
