@import './scss/generics/variables';
@import './scss/generics/font-faces';
@import './scss/components/content-loader';

.fs-7 {
	font-size: 0.7rem;
}
.notification {
	left: auto;
	top: 5em;
	right: 10em;
}
.text-right {
	text-align: right;
}
