<section class="container-content" role="main">
	<div class="d-flex">
		<rock-band-card-info>
			<div class="me-4 pe-4" title="total orders" aria-label="total orders" cardInfo>
				<i class="bi bi-cart2 fs-1"></i><br />
				<span class="fs-4">Orders</span>
			</div>
			<span class="fs-4" count>25</span>
		</rock-band-card-info>

		<rock-band-card-info>
			<div class="me-4 pe-4" title="total products" aria-label="total products" cardInfo>
				<i class="bi bi-cart2 fs-1"></i><br />
				<span class="fs-4">Products</span>
			</div>
			<span class="fs-4" count>250</span>
		</rock-band-card-info>

		<rock-band-card-info>
			<div class="me-4 pe-4" title="total users" aria-label="total users" cardInfo>
				<i class="bi bi-cart2 fs-1"></i><br />
				<span class="fs-4">Users</span>
			</div>
			<span class="fs-4" count>5</span>
		</rock-band-card-info>

		<rock-band-card-info>
			<div class="me-4 pe-4" title="total revenue" aria-label="total revenue" cardInfo>
				<i class="bi bi-cart2 fs-1"></i><br />
				<span class="fs-4">Total Revenue</span>
			</div>
			<span class="fs-4" count>100</span>
		</rock-band-card-info>
	</div>
</section>
